ADMIN_USER=eukras
ADMIN_USER_PASSWORD=password
APP_HASH=1111111111
APP_NAME='Article Wiki'
ARTICLE_WIKI_CREDIT=YES
ARTICLE_WIKI_URL=https://github.com/eukras/article-wiki
GOOGLE_ANALYTICS_TRACKING_ID=''
PUBLIC_DIR=/static
REDIS_DATABASE=0
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TEST_DATABASE=1
SINGLE_USER=YES
TIME_ZONE=Australia/Sydney
UPLOAD_LIMIT_KB=500
WEB_HOST=localhost
WEB_HOST_PORT=8080
