ADMIN_USER="eukras"
ADMIN_USER_PASSWORD="password"
APP_NAME="Article Wiki"
ARTICLE_WIKI_CREDIT="NO"
ARTICLE_WIKI_URL="https://github.com/eukras/article-wiki"
COOKIE_NAME="article_wiki"
COOKIE_SECRET="b4e47a04c5b1eb69f3a08f14c545953f3679d086"
ENVIRONMENT="prod"
PUBLIC_DIR="/static"
SINGLE_USER="YES"
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_DATABASE="0"
WEB_HOST="localhost"
WEB_HOST_PORT="8080"
UPLOAD_LIMIT_KB="500"
