{% extends "page.html" %}

{% block page %}

<div class="wiki">

    <header>
        <hgroup>
            <h1>Site Admin</h1>
        </hgroup>
        <div class="space-above">
            <a href="/" class="button">
                <i class="fa fa-home"></i> Home Page
            </a>
        </div>
        <div class="space-above">
            <a href="/import-archive/{{ config['ADMIN_USER'] }}" class="button">
                <i class="fa fa-upload"></i> Import Archive
            </a>
            &nbsp;
            <a href="/import-website" class="button" disabled="DISABLED">
                <i class="fa fa-copy"></i> Import Website
            </a>
        </div>
        <div class="space-above">
            <form method="post" action="/admin/refresh">
                <button type="submit">
                    <i class="fa fa-wrench"></i> Refresh all pages
                </button>
            </form>
            <form method="post" action="/admin/expire-cache">
                <button type="submit">
                    <i class="fa fa-clock"></i> Expire cache
                </button>
            </form>
        </div>
        <div class="space-above">
            <form method="post" action="/admin/initialize">
                <button type="button" class="button-unlock" for="initialise">
                    <i class="fa fa-lock"></i>
                </button>
                <button type="submit" id="initialise" disabled="DISABLED">
                    <i class="fa fa-exclamation-triangle"></i> Initialise
                </button>
            </form>
        </div>
    </header>

</div>

{% endblock %}
