{% extends "base.html" %}

{% block content %}

<div id="page">

{% if header_buttons %}
<nav class="button-list button-list-header no-print no-preview">
    {% for button in header_buttons %}
    <a id="button-{{ button.icon }}" class="button" href="{{ button.href }}">
        <i class="fa fa-{{ button.icon }}"></i>
        {{ button.name }}
    </a>
    {% endfor %}
</nav>

{% endif %}

{% block page %}

<!-- REPLACE MEEEEEEE -->

{% endblock %}

{% if footer_buttons %}
<nav class="button-list button-list-footer no-print no-preview">
    {% for button in footer_buttons %}
    <a id="button-{{ button.icon }}" class="button" href="{{ button.href }}">
        <i class="fa fa-{{ button.icon }}"></i>
        {{ button.name }}
    </a>
    {% endfor %}
    <button class="button button-themes">
        <i class="fa fa-adjust"></i>
        Theme
    </button>
</nav>
{% endif %}

</div>

<!-- Nav elements -->
<div id="menu" class="side-nav menu-nav visible-over-popover-contents-modal no-print">
    <div title="Show/hide menu [ESC]" id="menu-button" class="clickable">
        <i class="fa fa-bars"></i>&nbsp; ESC
    </div>
</div> 

<div id="progress" class="side-nav bottom-menu progress-nav no-print clickable">
    <span id="progress-percent">...</span> <i class="fa fa-arrow-up"></i>
</div> 

<!-- Nav system popovers -->

<div
    id="popover-contents-modal"
    style="display: none;"
>
    <div class="popover-body">

        {% if web_buttons is defined %}
        {{ web_buttons }}
        {% endif %}

        <div id="popover-table-of-contents">
            <div class="text-center">
                <i>When reading an article, the ESC button<br/>
                shows you the table of contents.<i>
            </div>
        </div>

        {% if web_buttons is defined %}
        {{ web_buttons }}
        {% endif %}

    </div>
</div>

<!-- Comment system popovers -->

<div
    id="popover-comment-button"
    style="display: none;"
>
    <i class="fa fa-comment"></i>
</div>

<div
    id="popover-comment-close"
    style="display: none;"
>
    <i class="fa fa-times"></i>
</div>

<div
    id="popover-comment-modal"
    style="display: none;"
>
    <div class="popover-body">

        <h1>Feedback</h1>

        <p>You can suggest an edit or leave a comment here.&nbsp; This is only
visible to the author of the article, when they next check in.&nbsp; For urgent
queries email the author; for public discussion tag them on social media.</p>

        <form>
            <input type="hidden" name="user_slug" value="{{ user_slug }}" />
            <input type="hidden" name="doc_slug" value="{{ doc_slug }}" />
            <input type="hidden" name="original" value="" />

            <div
                id="popover-suggest-preview-content"
            >
                <p id="popover-suggest-edit-open" class="clickable space">
                    Suggest an edit?
                </p>
                <textarea
                    class="popover-comment-readonly"
                    disabled="disabled"
                    name="preview"
                ></textarea>
            </div>
            <div
                id="popover-suggest-edit-content"
                style="display: none"
            >
                <p id="popover-suggest-edit-close" class="clickable space">
                    Suggest an edit?
                </p>
                <textarea
                    class="popover-comment-textarea"
                    name="changes"
                >
                </textarea>
                <div id="err-changes" style="display: none;"></div>
            </div>
            <p class="space">Your comment?</p>
            <textarea
                class="popover-comment-textarea"
                name="comment"
            ></textarea>
            <div id="err-comment" style="display: none;"></div>
            <p class="space">Email contact?&nbsp; (For questions, not spam.)</p>
            <input
                class="popover-comment-input"
                name="contact"
            />
            <div id="err-contact" style="display: none;"></div>
            <div class="space">
                <button
                    id="popover-comment-submit"
                    class="popover-button"
                    type="button"
                >
                    Submit
                </button>
            </div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </form>
    </div>
</div>

{% endblock %}
