{% extends "admin-template.html" %}

{% block title %}

            <header class="titles">
              <h1>
                {% if user_slug != "" and doc_slug != "" %}
                <div class="article-title balance-text">Upload Site</div>
                <div class="article-subtitle balance-text">* / *</div>
                {% elif user_slug != "" %}
                <div class="article-title balance-text">Upload User</div>
                <div class="article-subtitle balance-text">{{ user_slug }} / *</div>
                {% else %}
                <div class="article-title balance-text">Upload Article</div>
                <div class="article-subtitle balance-text">{{ user_slug }} / {{ doc_slug }}</div>
                {% endif %}
              </h1>
            </header>

{% endblock %}


{% block body %}

<div class="wiki">

<ul>
    <li>Your download file will have be called: <tt>{{ import_file }}</tt>, only with the date and time that it was generated.</li>
</ul>

<form
    method="post"
    enctype="multipart/form-data"
>

<div class="text-center">
    <input type="file" name="upload" />
    <p class="space">
        <button type="submit" class="feature">
            <i class="fa fa-upload"></i> Upload
        </button>
    </p>
</div>

</form>

</div>


{% endblock %}
