/**
 * An icon-button contains two elements, icon and text
 */

.icon-button,
.option-button {
    display: flex;
    gap: 1em;
    cursor: pointer;
    align-items: baseline;
}

.icon-button {
    flex-flow: row-reverse;
}

.option-button {
    display: flex;
    max-width: 15em;
    gap: 1em;
    cursor: pointer;
    align-items: baseline;
    color: var(--desk-text-secondary);
    i.fa-fw {
        min-width: 1.25em;
    }
}

#site-menu {
    .option-button {
        flex-flow: row-reverse;
        padding: 0 1em;
    }
}

#page-outline {
    .icon-button {
        flex-flow: row;
    }
}

input[type="submit"], button {
    font-family: $fontFamilySansSerif;
    font-size: $fontSizeMinus1;
    border-radius: $borderRadius;
    background-color: var(--page-background);
    border: 2px solid var(--page-text-link);
    color: var(--page-text-link);
    padding: 0.3rem 1rem;
    text-align: center;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    cursor: pointer;
    outline: none;

    i.fa {
        padding-right: 4px;
    }
}


input[type="file"] {
    text-align: center;
    margin: 1rem;
    width: 60%;
    padding: 3rem;
    border: dashed 1px rgba(128, 128, 128, 0.5);
}

a.button.feature,
button.feature {
    margin-top: 1rem;
}

