html {
    background-color: $lightBgColor;
}

.no-print {
    display: none;
}

section {
    page-break-before: always;
}

.wiki-demo td section,
.wiki-demo td section footer section {
    page-break-before: auto;
}

h1, h2, h3, h4, h5, h6, hgroup {
    page-break-after: avoid;
}
