/**
 * Article Wiki; page layout.
 * 
 * All layout is for Day theme; other themes are modified 
 * in _themes.scss. As far as possible, all CSS will inherit 
 * or modify the figures set in #page.
 *
 */

#page, #editor  {
    background-color: #f8f8f8;
}

div#background {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
    background-image: none;  /* see common.js */
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form {
    margin-bottom: 0;
}

.web-only {
    display: none;
}

@media screen {

    body { 
        padding: 0;
        margin: 0;
    }

    .web-only {
        display: block;
    }

    #editor {

        overflow: hidden;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 2rem auto;
        grid-gap: 0;

        a.button, button {
            text-wrap: none;
            vertical-align: middle;

            i { display: inline; }
            span { display: inline; }
        }

        textarea {
            font-family: $fontFamilyMonospace;
            grid-area: unquote("2 / 1 / 3 / 5");
            padding: 1rem;
            border: none;
            outline: none;
            resize: none;
            background: inherit;
        }

        main {
            grid-area: unquote("2 / 5 / 3 / 9");
            padding: 2rem;
            overflow: auto;
            article {
                margin-top: 0;
            }
            .no-preview {
                display: none;
            }
            section.depth-1 {
                margin-top: 0;
                h1 {
                    margin-top: 0;
                }
            }
        }

    }

    #page { 
        width: 56rem;
        max-width: 90%;
        margin: 2rem auto;
        padding: 0;
        @include box-shadow(0, 0, 2.5rem, rgba(30, 60, 30, 0.25));
    }

}

.print-only {
    display: none;
}

@media print {

    html {
        font-size: 10pt;
    }

    body {
        margin: 3em;
        padding: 0;
    }

    .print-only {
        display: block;
    }

    .no-print {
        display: none;
    }

    #editor {
        display: block;

        button, a.button, textarea {
            display: none;
        }

        main {
            width: auto;
            margin: 0;
            padding: 0;
        }
    }

    #page {
        background-color: white;
        width: auto;
        margin: 0;
        padding: 0;
    }

    div.wiki {
        width: auto;
        margin: 0;
        padding: 0;
    }

    var {
        border: 2px solid black;
        color: black;
    }
}

/*
 * LOGIN BOX
 *
 */

#login {
    margin: 0 auto;
    width: 15em;

    input {
        width: 100%;
        font-family: $fontFamilySansSerif;
        font-size: $fontSizePlus1;
        border: 1px solid rgba(128, 128, 128, 0.5);
        background: none;
        color: inherit;
        border-radius: $borderRadius;
        padding: 0.3rem 0.6rem;
        cursor: pointer;
    }
}

/*
 * SIDE BAR
 *
 */

#menu,
#progress {
    font-family: $fontFamilySansSerif;
}

.side-nav { 
    position: fixed;
    text-decoration: none;
    font-size: $fontSizeMinus1;
    padding: 1em;
    opacity: 0.4;
}

.menu-nav {
    top: 0;
    left: 0;
}

.progress-nav {
    bottom: 0;
    right: 0;
}

#menu-button {
    z-index: 20;
}


/* CSS Modal notice: only deactivated if grid is supported. */

.modal {

    display: block;

    .modal-cover {
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000;
        width: 100vw;
        height: 100vh;
        opacity: 0.5;
    }

    .modal-message {
        position: fixed;
        z-index: 11;
        top: 2em;
        left: 2em;
        border-radius: $borderRadius;
        box-shadow: 1rem 1rem 2rem #444;
        text-align: center;
        background-color: #fff;
        width: 18em;
        max-width: 90%;
        padding: 2rem;

        h2 {
            font-weight: bold;
            margin: 0 0 1rem 0;
        }

        .modal-button {
            margin: 2rem 0 1rem 0;
        }
    }

}

@supports (display: flex) {
    .modal {
        display: none;
    }
}

/* Comments */

/**
<div class="comment">
    <h4>
        <span class="comment-created_fmt">{{ _.time_created_fmt }}</span> 
        <span class="comment-aw_login">~{{ _.aw_login }}</span>
        <span class="comment-ip_address">{{ _.ip_address }}</span>
    </h4>
    <div>
        <span class="comment-contact">{{ _.contact }}</span>
        <span class="comment-google_tracker">{{ _.google_tracker }}</span>
    </div>
    <div style="comment-comment">{{ _.comment }}</div>
    {% if _.changes == "" %}
    <div style="comment-original">{{ _.original }}</div>
    {% else %}
    <div style="comment-diff_html">{{ _.diff_html|safe }}</div>
    {% endif %}
</div>
**/ 

.comment {
    margin-top: 1.5rem;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    padding-top: 0.5rem;
}

.comment .comment-google_tracker,
.comment .comment-ip_address {
    opacity: 0.3;
    font-family: $fontFamilySansSerif;
    font-size: $fontSizeMinus2;
}

.comment .comment-comment {
    white-space: pre-line;
    background-color: rgba(128, 128, 128, 0.1);
    padding: 1rem;
    margin: 0.5rem 0;
}

.comment .comment-original {
    opacity: 0.3;
    font-family: $fontFamilySansSerif;
    font-size: $fontSizeMinus1;
}

span.diff_add {
    background-color: rgba(98, 236, 141, 0.3);
}
span.diff_chg {
    background-color: rgba(255, 196, 88, 0.3);
}
span.diff_sub {
    background-color: rgba(255, 86, 80, 0.3);
}
