/**
 * Article Wiki; page layout.
 * 
 * All layout is for Day theme; other themes are modified 
 * in _themes.scss. As far as possible, all CSS will inherit 
 * or modify the figures set in #page.
 *
 */

:root {
    font-size: calc(0.5em + 0.75vmax);
}

::-moz-selection,
::selection {
    background-color: var(--page-text-selection);
}

*,
::before,
::after, {
    box-sizing: border-box;
}

html.theme-light,
html.theme-dark {
    color: var(--desk-text);
    background-color: var(--desk-background);
}

div#background {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
    background-color: var(--desk-background);
    background-blend-mode: var(--desk-svg-blend-mode);
    opacity: var(--desk-svg-opacity);
    background-image: none;  /* filled by bokeh.js */
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#page, #editor, table  {
    color: var(--page-text);
    background-color: var(--page-background);
}

#page {
    border: 1pt solid var(--page-outline);
    max-width: var(--page-width);
    margin: 2rem auto;
    padding: 0;
    @include box-shadow(0, 0, 2.5rem, rgba(30, 60, 30, 0.25));
}

header {
    text-align: center;
    margin: 6em 0 5em 0;
    h1, h2 {
        text-align: center;
    }
}

#site-menu {
    top: 0;
    left: 0;
    height: 100vh;
    padding: var(--side-padding);
    width: var(--side-width-left);
}

#page-outline {
    top: 0;
    right: 0;
    height: 100vh;
    padding: var(--side-padding);
    width: var(--side-width-right);
}

@include isLaptopOrLarger {

    html {
        --page-width: 65vw;
        --side-width-left: 16vw;
        --side-width-right: 16vw;
        --side-padding: 1em;
        --page-margin: 6em;
    }
}

@include isTabletOrSmaller {
    html {
        --page-width: 100vw;
        --side-width-left: 39vw;
        --side-width-right: 60vw;
    }
}

@include isTablet {
    html {
        --side-padding: 2em;
        --page-margin: 4em;
    }
}

@include isMobile {
    html {
        --side-padding: 1em;
        --page-margin: 3em;
    }
}

@include isTabletOrSmaller {
    .show-inline-if-laptop-or-larger {
        display: none;
    }
    .show-inline-if-tablet-or-smaller {
        display: inline;
    }
    .show-block-if-laptop-or-larger {
        display: none;
    }
    .show-block-if-tablet-or-smaller {
        display: block;
    }
    #page {
        margin: 0;
    }
    #site-menu {
        background-color: var(--side-background-left);
    }
    #page-outline {
        background-color: var(--side-background-right);
    }
}

@include isLaptopOrLarger {
    .show-inline-if-tablet-or-smaller {
        display: none;
    }
    .show-inline-if-laptop-or-larger {
        display: inline;
    }
    .show-block-if-tablet-or-smaller {
        display: none;
    }
    .show-block-if-laptop-or-larger {
        display: block;
    }
}

form {
    margin-bottom: 0;
}

.web-only {
    display: none;
}

@media screen {
    .web-only {
        display: block;
        padding: 1rem 0;
        margin: 1rem 0;
    }
}

body { 
    font-size: $fontSize;
    padding: 0;
    margin: 0;
}

/*
 * LOGIN BOX
 *
 */

#login {
    margin: 0 auto 10em;
    width: 15em;

    h1 {
        margin: 2em 0 1em;
    }

    .wiki-error {
        margin: 1em 0;
    }

    input {
        width: 100%;
        font-family: $fontFamilySansSerif;
        font-size: $fontSizePlus1;
        border: 1px solid rgba(128, 128, 128, 0.5);
        border-radius: $borderRadius;
        padding: 0.3rem 0.6rem;
        margin: 1em 0;
    }
}


//  ---------------------------------
//  Scrollbars
//  ---------------------------------

body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
    background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--page-text);
  box-shadow: 0 -100vh 0 100vh var(--page-icon-background);
}
