/* Stacking */

div#popover-contents-modal {
    z-index: 10;
}

div.visible-over-popover-contents-modal {
    z-index: 15;
}

div#popover-comment-modal {
    z-index: 20;
}

div#popover-comment-button,
div#popover-comment-close,
div.visible-over-popover-comment-modal {
    z-index: 25;
}

div#popover-comment-modal,
div#popover-contents-modal {

    /* Center content */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Modal background */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    overflow-y: auto;

    background-color: $lightBgColor;
}

div#popover-comment-modal div.popover-body,
div#popover-contents-modal div.popover-body {
    width: 40rem;
    height: 90vh;
    padding: 1rem 2rem;
}

div#popover-comment-button,
div#popover-comment-close {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 2.6rem;
    max-width: 2.6rem;
    border: 3px white solid;
    margin: 1rem;
    border-radius: 50%;
    height: 2.6rem;
    max-height: 2.6rem;
    font-size: 1.5rem;
    text-align: center;
    color: $lightBgColor;
    background-color: blueviolet;
    cursor: pointer;
    box-shadow: 0 0 0.9rem #ccc;
}

div#popover-comment-button i,
div#popover-comment-close i {
    margin-top: 18%;
}

p#popover-suggest-edit-open,
p#popover-suggest-edit-close {
    color: blueviolet;
    text-decoration: underline;
    cursor: pointer;
}

textarea.popover-comment-readonly {
    width: 100%;
    height: 10rem;
    padding: 0.5rem;
    border: none;
    opacity: 0.5;
}

textarea.popover-comment-textarea {
    width: 100%;
    height: 10rem;
    padding: 0.5rem;
}

input.popover-comment-input {
    font-family: monospace;
    font-size: $fontSizeMinus1;
    width: 100%;
    padding: 0.5rem;
}

button.popover-button {
    font-size: $fontSizeMinus1;
    border-radius: $borderRadius;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 0.9rem #ccc;
    border: 3px white solid;
}

#err-changes,
#err-comment,
#err-contact {
    color: red;
    font-weight: bold;
    font-family: sans-serif;
}
