.print-only {
    display: none;
}

@media print {

    .print-only {
        display: block;
    }

    .no-print {
        display: none;
    }

    .left-margin {
        display: none;
    }

    .right-margin {
        display: none;
    }

    /* Header section must be full-width */
    .section-group {
        display: block;
        width: 100%;
        .section-list {
            .section-item {
                display: block;
                width: 100%;
                .section-content {
                    flex: 1 1 100%;
                }
            }
        }
    }

    ::root {
        font-size: 9pt;
    }

    * {
        color: var(--black);
    }

    div#background {
        background: none;
    }

    div#page {
        background-color: var(--white);
        width: 96%;
        min-width: 96%;
        max-width: 96%;
        margin: 2%;
        padding: 0;
        border: none;
        box-shadow: none;
    }

    html.navigation-sidebars {
        nav#site-menu, nav#page-outline {
            display: none;
        }
    }

    hgroup {
        page-break-inside: avoid;
        page-break-after: avoid;
    }

    p, ol, ul, blockquote, pre {
        widows: 3;
        orphans: 3;
    }

    #editor {
        display: block;

        button, a.button, textarea {
            display: none;
        }

        main {
            width: auto;
            margin: 0;
            padding: 0;
        }
    }

    div.wiki {
        width: auto;
        margin: 0;
        padding: 0;
    }

    var {
        border: 2px solid var(--black);
        color: var(--black);
    }

}
