$font: 'IBM Plex Serif', 'Greek', Georgia, serif; 
$fontSans: 'IBM Plex Sans Condensed', sans-serif;
$fontMono: Hack, Andale Mono, monospace;

$bodyFont: 10pt;

$white: #ffffff;
$lightGray: #e7e7e7;
$midGray: #556b2f;
$darkGray: #707070;
$black: #000000;

$buttonGradient: #f7f7fa;
$buttonGradientActive: #ededf1;

$pageWidth: 52em;
$pageMarginWidth: 2em;
$pageMarginHeight: 1em;
$pageMarginWidth: 2em;
$pagePaddingHeight: 1em;
$pagePaddingWidth: 2em;
$pageShadowWidth: 1em;

$pageColor: $white;
$pageShadowColor: #c8c8c8;
$backgroundColor: $lightGray;

$buttonBackgroundColor: $white;
$buttonBorderColor: #c0c0c0;

$borderRadius: 7px;

$fontXXLarge: 1.749rem;
$fontXLarge: 1.521rem;
$fontLarge: 1.322rem;
$fontMedium: 1.15rem;
$fontSmall: 1rem;
$fontXSmall: 0.87rem;
$fontXXSmall: 0.756rem;
$fontXXXSmall: 0.658rem;
