html {
    font-size: 12pt;
    background-color: $lightBgPage;
}

header {
    margin-top: 5rem;
}

::-moz-selection { background: $lightBgSelection; }
::selection { background: $lightBgSelection; }
