/**
 * -------------------------------------------------------------------------
 * CSS specific to wiki format elements.
 * -------------------------------------------------------------------------
 *
 */

* {
    line-height: 150%;
}

html {
    font-family: $fontFamilySerif;
    font-size: $fontSize;
    line-height: 150%;
    color: #222;
}

header {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

header hgroup h1 {
    text-align: center;
}

header hgroup h2 {
    padding: 0;
    margin: 0 0 1rem 0;
    font-style: italic;
    font-weight: normal;
    font-size: $fontSizePlus2;
    margin-bottom: 2rem;
}

header address {
    display: inline-block;
    margin: .3rem;
    font-style: normal;
}

article {
    margin-top: 4rem;
}

section#footnotes {
    overflow-wrap: break-word;
}

a, button {
    border: none;
    background: none;
}

section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section.depth-1 {
    margin-top: 2rem;
}

section.depth-2 {
    margin-top: 1rem;
}

section.depth-3 {
    margin-top: 1rem;
}

section.depth-1 h1, header h1 {
    font-size: $fontSizePlus3;
}

section.depth-2 h1 {
    font-size: $fontSizePlus2;
}

section.depth-3 h1 {
    font-size: $fontSizePlus1;
}

section.depth-4 h1,
footer h1 {
    font-size: $fontSize
}

section.depth-5 h1 {
    font-size: $fontSizeMinus1;
}

section.depth-6 h1 {
    font-size: $fontSizeMinus1;
}

footer {
    font-size: $fontSizeMinus1;
}


/**
 * Put wiki demo sections side by side when there is space available.
 */

.wiki-demo {
    overflow-y: hidden;
}

.wiki-demo table {
    margin: 0;
    padding: 0;
}

.wiki-demo td > *:first-child,
.wiki-demo-wide td > *:first-child,
.wiki-demo td article > *:first-child,
.wiki-demo-wide td article > *:first-child,
.wiki-demo td section > *:first-child,
.wiki-demo-wide td section > *:first-child {
    margin-top: 0;
    padding-top: 0;
}

.wiki-demo pre,
.wiki-demo-wide pre {
    font-size: $fontSizeMinus3;
}

.wiki-demo pre {
    padding-right: 1rem;
    border-right: 0.7pt dotted black;
    margin-right: 1rem;
}
.wiki-demo-wide pre {
    padding-bottom: 1rem;
    border-bottom: 0.7pt dotted black;
    margin-bottom: 1rem;
}

.wiki-demo-output pre {
    border: 0;
}

/**
 * Articles list for home and user pages.
 * Consider CSS Masonry/Flexboxy instead. 
 */

.article-cards {
    text-align: center;
    margin: 1.5em 0;
    padding: 0;
}
.article-card {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
.article-card-title {
    font-size: $fontSizePlus2;
    font-weight: bold;
}
.article-card-summary {
    font-size: $fontSizePlus1;
    font-style: italic;
    margin-bottom: 0.75rem;
}
.article-card-details {
    font-size: $fontSize;
    margin-bottom: 0.75rem;
}
.article-card-download {
    font-size: $fontSizeMinus1;
    font-weight: bold;
}

.outline-shadow {
    border-radius: 2rem;
    box-shadow: 0.3rem 0.3rem 1rem 0 #ccc;
    border: 2pt solid white;
}

/**
 * Footnote layout
 */

.footnote-title {
    font-weight: bold;
    padding: 0.7rem 0 0.3rem 0;
}

.footnote-item {
    
}

/**
 * Incidental styling.
 */

.clickable {
    cursor: pointer;
    user-select: none;
}

.footnotes-section-number {
    margin-left: 2.4rem;
    font-weight: bold;
}

.no-overflow {
    overflow: hidden;
}

.wiki-error {
    color: red;
}
 
.wiki-no-select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

.no-column-break {
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */
}

/**
 * [NC 2019-10-07] Table of contents
 */

h2 + table.table-of-contents {
    margin-top: 0;
}

td.word-count { 
    text-align: right;
    font-size: $fontSizeMinus2;
}

/**
 * Control print layout
 */

p,
li,
blockquote,
td {
    widows: 3;
    orphans: 3;
}

/**
 * -------------------------------------------------------------------------
 * FOR PLUGINS
 * -------------------------------------------------------------------------
 */

/** 
 * CODE
 */

.code .hll { background-color: #ffffcc }
.code .c   { font-style: italic }           /* Comment */
.code .err { border: 1px solid #FF0000 }    /* Error */
.code .k   { font-weight: bold }            /* Keyword */
.code .cm  { font-style: italic }           /* Comment.Multiline */
.code .c1  { font-style: italic }           /* Comment.Single */
.code .cs  { font-style: italic }           /* Comment.Special */
.code .ge  { font-style: italic }           /* Generic.Emph */
.code .gh  { font-weight: bold }            /* Generic.Heading */
.code .gp  { font-weight: bold }            /* Generic.Prompt */
.code .gs  { font-weight: bold }            /* Generic.Strong */
.code .gu  { font-weight: bold }            /* Generic.Subheading */
.code .kc  { font-weight: bold }            /* Keyword.Constant */
.code .kd  { font-weight: bold }            /* Keyword.Declaration */
.code .kn  { font-weight: bold }            /* Keyword.Namespace */
.code .kr  { font-weight: bold }            /* Keyword.Reserved */
.code .s   { font-style: italic }           /* Literal.String */
.code .nc  { font-weight: bold }            /* Name.Class */
.code .ni  { font-weight: bold }            /* Name.Entity */
.code .ne  { font-weight: bold }            /* Name.Exception */
.code .nn  { font-weight: bold }            /* Name.Namespace */
.code .nt  { font-weight: bold }            /* Name.Tag */
.code .ow  { font-weight: bold }            /* Operator.Word */
.code .sb { font-style: italic }            /* Literal.String.Backtick */
.code .sc { font-style: italic }            /* Literal.String.Char */
.code .sd { }                               /* Literal.String.Doc */
.code .s2 { font-style: italic }            /* Literal.String.Double */
.code .se { font-weight: bold;
            font-style: italic }            /* Literal.String.Escape */
.code .sh { font-style: italic }            /* Literal.String.Heredoc */
.code .si { font-weight: bold;
            font-style: italic }            /* Literal.String.Interpol */
.code .sx { font-style: italic }            /* Literal.String.Other */
.code .sr { font-style: italic }            /* Literal.String.Regex */
.code .s1 { font-style: italic }            /* Literal.String.Single */
.code .ss { font-style: italic }            /* Literal.String.Symbol */
