@use "vars/colors";

html {
    color: colors.$gray03;
    background-color: colors.$gray97;
}

.no-print {
    display: none;
}

section {
    page-break-before: always;
}

.section-group .left-margin,
.section-group .section-list .section-item .right-margin {
    display: none;
}

.wiki-demo td section,
.wiki-demo td section footer section {
    page-break-before: auto;
}

h1, h2, h3, h4, h5, h6, hgroup {
    page-break-after: avoid;
}
