@use "vars/breakpoints";
@use "vars/fonts";

@use "sass:string";

#editor {

    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2rem auto;
    grid-gap: 0;


    a.button, button {

        font-family: fonts.$fontFamilySansSerif;
        font-size: fonts.$fontSizeMinus2;
        vertical-align: middle;
        text-align: center;
        background-color: var(--page-background);
        background-image: linear-gradient(rgba(128, 128, 128, 0.25), rgba(128, 128, 128, 0));
        border: 2px solid var(--page-background);
        padding: 0.3rem 1rem;
        color: var(--page-text-link);
        user-select: none;
        user-drag: none;
        -webkit-user-drag: none;
        cursor: pointer;
        outline: none;
        &:hover {
            background-image: none;
        }
        &:active {
            background-image: linear-gradient(rgba(128, 128, 128, 0.25), rgba(128, 128, 128, 0));
        }
        &[disabled='DISABLED'] {
            opacity: 0.3;
        }

        i { display: inline; }
        span { display: inline; }
    }

    textarea {
        font-family: fonts.$fontFamilyMonospace;
        font-size: fonts.$fontSizeMinus3;
        grid-area: string.unquote("2 / 1 / 3 / 5");
        padding: 1rem;
        border: none;
        outline: none;
        resize: none;
        background: inherit;
    }

    main {
        grid-area: string.unquote("2 / 5 / 3 / 9");
        padding: 2rem;
        overflow: auto;
        font-size: fonts.$fontSizeMinus1;
        article,
        header,
        section,
        section > *:first-child {
            margin-top: 0;
            padding-top: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .no-preview {
            display: none;
        }
        section.depth-1 {
            margin-top: 0;
            h1 {
                margin-top: 0;
            }
        }

    }

    textarea {
        color: var(--page-text);
    }
}

@include breakpoints.isLaptopOrLarger {

    #editor {
        #btn-edit {
            display: none;
        }
    }
}

@include breakpoints.isTabletOrSmaller {

    #editor {

        a.button, button {
            i {
                display: none;
            }
        }
    }

    #editor {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 0;
    }

    #editor.mode-edit {
        /* Small-screen: Only four buttons */
        #btn-back { display: inline; }
        #btn-help { display: inline; }
        #btn-copy { display: inline; }
        #btn-cleanup { display: none; }
        #btn-preview { display: inline; }
        #btn-edit { display: none; }
        #btn-print { display: none; }
        #btn-delete { display: none; }
        #btn-save { display: none; }
        /* Only one page area */
        textarea { display: block; }
        main { display: none; }
    }

    #editor.mode-preview {
        /* Small-screen: Only four buttons */
        #btn-back { display: none; }
        #btn-help { display: none; }
        #btn-copy { display: none; }
        #btn-cleanup { display: none; }
        #btn-preview { display: none; }
        #btn-edit { display: inline; }
        #btn-print { display: inline; }
        #btn-delete { display: inline; }
        #btn-save { display: inline; }
        /* Only one page area */
        textarea { display: none; }
        main {
            display: block;
            grid-area: string.unquote("2 / 1 / 3 / 5");
        }
    }
}

