/* Preempt device-specific defaults. */

/* [NC 2019-10-07] Source for ideas:
 * https://cmichel.io/how-to-create-beautiful-epub-programming-ebooks/ */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  text-align: left;
  line-height: 120%;
}

h1 {
  text-indent: 0;
  text-align: left;
  margin: 100px 0 0 0;
  font-size: 2em;
  font-weight: bold;
  line-height: 150%;
}

h2 {
  text-indent: 0;
  text-align: left;
  margin: 50px 0 0 0;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 135%;
}

h3 {
  text-indent: 0;
  text-align: left;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 1.4em;
}

h4 {
  text-indent: 0;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1.2em;
}

h5 {
  text-indent: 0;
  text-align: left;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 1.1em;
}

h6 {
  text-indent: 0;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  margin-top: 1em;
}

/* Note: Do not try on the Kindle, it does not recognize the hyphens property
 * */
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-hyphens: none !important;
  hyphens: none;
  page-break-after: avoid;
  page-break-inside: avoid;
}

/* Margins are usually added on the top, left, and right, but not on the bottom to prevent certain eReaders not collapsing white space properly */

p {
  margin: 0;
  widows: 2;
  orphans: 2;
}

/* [NC 2019-10-07] FIXME: Consider avoiding use of <b>, <i>, and <u>. Use
 * span tags instead */
span.i {
  font-style: italic;
}

span.b {
  font-weight: bold;
}

span.u {
  text-decoration: underline;
}

span.st {
  text-decoration: line-through;
}

span.ib {
  font-style: italic;
  font-weight: bold;
}

span.iu {
  font-style: italic;
  text-decoration: underline;
}

span.bu {
  font-weight: bold;
  text-decoration: underline;
}

span.ibu {
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

/* FIXME: Consider adding: fix the bug where the text-align property of
 * block-level elements is not recognized on iBooks. Example:
 * <p class="centered"><span class="ipadcenterfix">Centered Content</span></p>
 */

span.ipadcenterfix {
  text-align: center;
}

img {
  max-width: 100%;
}

table {
  margin: 1em auto;
}

tr,
th,
td {
  margin: 0;
  padding: 0.2rem 0.4rem;
  border: none;
  font-size: 100%;
  vertical-align: baseline;
}
