@use "vars/geometry";

/**
 * We show a please-upgrade-your-browser notice if missing:
 * - CSS grid display
 * - CSS Variables
 * - CSS :has() selector
 */

#browser-not-supported {

    display: block;

    .modal-cover {
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--page-text);
        width: 100vw;
        height: 100vh;
        opacity: 0.5;
    }

    .modal-message {
        position: fixed;
        z-index: 100;
        top: 2em;
        left: 10em;
        border-r: geometry.$borderRadius;
        box-shadow: 1rem 1rem 2rem #444;
        text-align: center;
        background-color: var(--page-background);
        width: 18em;
        max-width: 90%;
        padding: 2rem;

        h2 {
            font-weight: bold;
            margin: 0 0 1rem 0;
        }

        .modal-button {
            margin: 2rem 0 1rem 0;
        }
    }

}

@supports (display: grid) and (--css: variables) and (selector(:has(p))) {
    #browser-not-supported {
        display: none;
    }
}
