@use "vars/breakpoints";
@use "vars/colors";
@use "vars/fonts";

/**
 * -------------------------------------------------------------------------
 * CSS specific to wiki format elements.
 * -------------------------------------------------------------------------
 *
 */

* {
    line-height: 150%;
}

html {
    font-family: fonts.$fontFamilySerif;
    font-size: fonts.$fontSize;
    line-height: 150%;
}

article {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: calc(1rem + 2vmax) 0 calc(6rem + 6vmax) 0;
}


.section-group {
    display: flex;
    flex-direction: row;
    gap: 0;
    .left-margin {
        flex: 1 1 var(--page-margin);
        text-align: left;
        .sticky-buttons {
            align-items: flex-start;
            button.button-unit {
                display: flex;
                flex-direction: column;
            }
        }
    }
    .section-list {
        flex: 1 1 calc(100% - var(--page-margin));
        .section-item {
            display: flex;
            flex-direction: row;
            gap: 0;
            .section-content {
                flex: 1 1 calc(100% - var(--page-margin));
            }
            .right-margin {
                flex: 1 1 var(--page-margin);
                text-align: right;
                .sticky-buttons {
                    align-items: flex-end;
                    button.button-unit {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

.sticky-buttons {
    user-select: none;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    a.button-unit, button.button-unit {
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 0.25rem;
        border: 1px solid var(--page-outline);
        width: 3rem;
        text-align: center;
        font-family: fonts.$fontFamilySansSerif;
        font-size: fonts.$fontSizeMinus3;
        cursor: pointer;
        color: var(--desk-text);
        &:active {
            background-color: var(--page-outline);
        }
        svg {
            height: 1.2rem;
            width: 1.2rem;
            fill: var(--desk-text);
        }
    }
}

.left-margin {
    a.button-unit,
    button.button-unit {
        &:hover {
            border: 1px solid var(--desk-text);
            border-left: none;
        }
        padding: 0.5rem 0.75rem 0.5rem 0.5rem;
        border-left: none;
        border-radius: 0 1rem 1rem 0;
    }
}

.right-margin {
    a.button-unit,
    button.button-unit {
        &:hover {
            border: 1px solid var(--desk-text);
            border-right: none;
        }
        padding: 0.5rem 0.5rem 0.5rem 0.75rem;
        border-right: none;
        border-radius: 1rem 0 0 1rem;
    }
}

@include breakpoints.isPrint {
    .left-margin, 
    .right-margin {
        display: none;
    }
}

/* Navigation buttons in header */
.section-group {
    .left-margin,
    .right-margin {
        padding-bottom: 2rem;
    }
}

/* Navigation buttons in header */
.section-group:first-of-type {
    .left-margin,
    .right-margin {
        padding-top: 0;
        padding-bottom: 3rem;
    }
}

#top-button {
    opacity: 0;
    transition: opacity 0.3s ease;
    &.fade-in {
        opacity: 1;
    }
}

section header {
  font-family: fonts.$fontFamilySansSerif;
  font-size: fonts.$fontSizeMinus2;
  margin-bottom: 3rem;
}

section footer {
  font-family: fonts.$fontFamilySansSerif;
  font-size: fonts.$fontSizeMinus2;
  margin-top: 3rem;
}

footer.footnotes {
  font-family: fonts.$fontFamilySansSerif;
  font-size: fonts.$fontSizeMinus2;
  margin-top: 2rem;
  overflow-wrap: break-word;
}

header {

    hgroup h1 {
        padding: 0;
        margin: 1rem 0 0 0;
        font-weight: bold;
        font-size: fonts.$fontSizePlus5;
    }

    hgroup h2 {
        padding: 0;
        margin: 1rem 0 1rem 0;
        font-style: italic;
        font-weight: normal;
        font-size: fonts.$fontSizePlus3;
    }

    address {
        margin: 4rem 0 3rem 0;
        font-style: normal;
        div:first-child {
            font-size: fonts.$fontSizePlus1;
            font-weight: bold;
        }
        a[href^="mailto:"] {
            font-size: fonts.$fontSizeMinus1;
            font-color: inherit;
            text-decoration: none;
        }
    }
}

hgroup {
    margin: 0.5em 0;
}

section#footnotes {
    overflow-wrap: break-word;
}

a, button {
    border: none;
    background: none;
}

section {
    display: flex;
    flex-direction: row;
    gap: 0;
    margin-top: 1rem;
    padding-top: 2rem;
    margin-bottom: 1rem;
}

section.depth-1 {
    h1 {
        font-size: fonts.$fontSizePlus3;
    }
}

section.depth-2 {
    h1 {
        font-size: fonts.$fontSizePlus2;
    }
}

section.depth-3 {
    h1 {
        font-size: fonts.$fontSizePlus1;
    }
}

section.depth-4 h1,
footer h1 {
    font-size: fonts.$fontSize
}

section.depth-5 h1 {
    font-size: fonts.$fontSizeMinus1;
}

section.depth-6 h1 {
    font-size: fonts.$fontSizeMinus1;
}


div.headline {
    display: flex;
    align-items: baseline;
    gap: 0.66em;
}

div.headline-number {
    flex: 1 1 1;
}

div.headline-title {
    flex: 1 1 auto;
}


/**
 * Put wiki demo sections side by side when there is space available.
 *
 * @TODO: Implement as tables for ebooks?
 */

.wiki-demo {
    margin: 1rem 0;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 2rem;

    @include breakpoints.isTablet {
        flex-direction: column;
    }
}

.wiki-demo-wide {
    margin: 1rem 0;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wiki-demo-input,
.wiki-demo-output {
    flex: 1 1 50%;
    padding: 1rem;
    border: 1px solid var(--page-outline);
    border-width: 1px 0 0 1px;
    border-top-left-radius: 0.5rem;
}

.wiki-demo-input pre {
    font-size: fonts.$fontSizeMinus3;
}

.wiki-demo-output {
    font-size: fonts.$fontSizeMinus1; 
}

.wiki-demo-output article,
.wiki-demo-output header,
.wiki-demo-output section,
.wiki-demo-output section > *:first-child {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

/**
 * Articles list for home and user pages.
 * Consider CSS Masonry/Flexboxy instead. 
 */

.article-cards {
    text-align: center;
    margin: 1.5em 0;
    padding: 0;
}
.article-card {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
.article-card-title {
    font-size: fonts.$fontSizePlus2;
    font-weight: bold;
}
.article-card-summary {
    font-size: fonts.$fontSizePlus1;
    font-style: italic;
    margin-bottom: 0.75rem;
}
.article-card-details {
    font-size: fonts.$fontSize;
    margin-bottom: 0.75rem;
}
.article-card-download {
    font-size: fonts.$fontSizeMinus1;
    font-weight: bold;
}

@include breakpoints.isTabletOrSmaller {

    .article-list {
        grid-template-columns: 100%
    }
    .article:nth-child(odd) {
        border-right: none;
    }

}

/**
 * Footnote layout
 */

.footnote-title {
    font-weight: bold;
    padding: 0.7rem 0 0.3rem 0;
}

.footnote-item {
    
}

/**
 * Incidental styling.
 */

.clickable {
    cursor: pointer;
    user-select: none;
}

.footnotes-section-number {
    margin-left: 2.4rem;
    font-weight: bold;
}

.no-overflow {
    overflow: hidden;
}

.wiki-error {
    color: red;
}
 
.wiki-no-select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

.no-column-break {
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */
}



table.table-of-contents {
    td.numbering {
        text-align: right;
        white-space: nowrap;
        font-weight: bold;
    }
    td.word-count { 
        text-align: right;
        font-size: fonts.$fontSizeMinus2;
        white-space: nowrap;
        @include breakpoints.isMobile {
            display: none;
        }
    }
}

p,
li,
blockquote,
td {
    widows: 3;
    orphans: 3;
}

.bibliography {
    font-size: fonts.$fontSizeMinus1;
}
