[Unit]
Description=Article Wiki

# Requirements
Requires=network.target

# Dependency ordering
After=network.target

[Service]
TimeoutStartSec=0
RestartSec=10
Restart=always

User=ubuntu
WorkingDirectory=/app
EnvironmentFile=/app/ENV.vars
ExecStart=/usr/bin/uwsgi /app/uwsgi.ini

KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
