[Unit]
Description=Article Wiki

# Requirements
Requires=network.target

# Dependency ordering
After=network.target

[Service]
TimeoutStartSec=0
RestartSec=10
Restart=always

WorkingDirectory=/app

User=www-data

KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

# Main process
ExecStart=/usr/bin/uwsgi /app/uwsgi.ini

[Install]
WantedBy=multi-user.target
