$black:  hsl(0, 0%,   0%);
$gray97: hsl(0, 0%,  97%);
$gray90: hsl(0, 0%,  90%);
$gray75: hsl(0, 0%,  75%);
$gray50: hsl(0, 0%,  50%);
$gray25: hsl(0, 0%,  25%);
$gray10: hsl(0, 0%,  10%);
$gray03: hsl(0, 0%,  03%);
$white: hsl(0, 0%, 100%);

$gray97-translucent: hsla(0, 0%, 97%, 0.90);
$gray03-translucent: hsla(0, 0%, 3%, 0.90);

//  Light colors
$kelpGreen: hsl( 57, 25%, 17%);
$limeGreen: hsl( 83, 84%, 75%);
$midGreen:  hsl(120, 46%, 29%);
$seaGreen:  hsl(120, 14%, 67%);
$mintGreen: hsl(120, 44%, 93%);

//  Dark colors
$busterBlue: hsl(218, 21%, 37%);
$bostonBlue: hsl(210, 67%, 78%);
$indigoBlue: hsl(240, 22%, 51%);
$nightBlue:  hsl(248, 90%,  5%);

